{% assign form_id = form_id | default: nil %}
{% assign newsletter_tags = 'prospect' %}

{%- if template contains 'password' %}
  {% assign newsletter_tags = newsletter_tags | append: ', password page' %}
{%- else -%}
  {% assign newsletter_tags = newsletter_tags | append: ', newsletter' %}
{%- endif -%}

{% unless input_id %}
  {% assign input_id = 'newsletter_email' %}
{% endunless %}

<div class="newsletter">
  {% form 'customer', id: form_id %}
    {% if form.posted_successfully? %}
      <p class="newsletter-success">
        {{ 'general.newsletter.success' | t }}
      </p>
    {% else %}
      <input
        type="hidden"
        name="contact[tags]"
        value="{{ newsletter_tags }}"
      >

      <div class="form-fields-inline pxs-newsletter-form-fields">
        <div class="form-field newsletter-input">
          <input class="form-field-text" name="contact[email]" id="{{ input_id }}" type="email" placeholder="Email" >
        </div>

        <div class="form-field newsletter-submit">
          <button name="subscribe" type="submit">Join our Mailing List!</button>
        </div>
      </div>
    {% endif %}
  {% endform %}
</div>
